@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: lavender;
  margin: 10px;
  font-size: 14px;
}
ul {
  text-align: center;
} 

nav ul li {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  align-content: center;
  display: inline-grid;
  height: 60px;
} 

nav ul li a{
  padding: 16px;
  font-size: 20px;
  font-family: 'Macondo', cursive;
  text-transform: uppercase;
  text-decoration: none; 
} 

li a:hover {
  color:#700;
}

.index a {
  font-weight: bold;
  color: black;
  font-family: 'Macondo', cursive;
}

p {
  font-size: 20px;
  text-align: left;
}

section {
  text-align:center;
  font-family: 'Anton', sans-serif;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
}

section2{
  font-size:20px;
  float:left;
  text-align: center;
  font-family: 'Lobster', cursive;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
}

section3 {
  font-size:20px;
  float: right;
  text-align: center;
  font-family: 'Lobster', cursive;
  margin: 10px;
  background-color: white;
  margin 10px;
  border-radius: 5px;
}

img {
  display: block;
  margin: 0 auto 0 auto;
  border-radius: 50%;
}

.footer {
  padding: 1em;
  text-align: center;
}
.footer2{
  font-size:18px;
  text-align: center;
  float:left;
}
.footer3{
    font-size:18px;
    text-align: center;
    float:right;
}
.list{
  text-align:left;
}
video {
  width: 100%;
  max-width: 100%;
  height:auto;
}
.glossary{
  font-size: 30px;
  text-align: center;
}
.list{
  font-size:19px;
  background: white;
  margin: 10px;
  font-family: 'Cambo', serif;
}

section4{
  font-size:20px;
  width:50%;
  float:left;
  text-align: center;
  font-family: 'Lobster', cursive;
  margin: 0px;
  background: white;
}
.myImage {
  background-image: url("images/kathryn-was-adorable.jpg");
}
section5{
  font-size:20px;
  width:50%;
  float:right;
  text-align: center;
  font-family: 'Lobster', cursive;
  margin: 0;
  background: white;
}
.resource{
  font-size: 40px;
}
.resource2{
  font-size: 30px;
  font-family: 'Arimo', sans-serif;
}
.gp{
  font-size: 20px;
  font-family: 'Arimo', sans-serif;
  background-color: white;
  margin: 10px;
}
.reflections{
  font-size: 20px;
  font-family: 'Arimo', sans-serif;
  background-color:white;
  margin: 10px;
}